:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --another-accent-color: #ffffff;
  --logo-color: #000000;
  --btn-hover-color: #188ce8;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --icon-background-color: #f5f4fa;
  --icon-social: #afb1b8;
  --task-background: rgba(47, 48, 58, 0.8);
  --portfolio-background: rgba(33, 150, 243, 0.9);
  --modal-backdrop: rgba(0, 0, 0, 0.2);
  --footer-input-border: rgba(255, 255, 255, 0.3);
}

body {
  background-color: var(--another-accent-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Utiles */

.link {
  text-decoration: none;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

header {
  background-color: var(--another-accent-color);
  border-bottom: 1px solid var(--border-color);
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__starttext {
  color: var(--accent-color);
}

.logo__endtext {
  color: var(--logo-color);
}

.nav {
  margin-left: 93px;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current {
  position: relative;

  color: var(--accent-color);
}

.nav__link--current::after {
  position: absolute;
  left: 0px;
  bottom: -1px;

  content: ' ';
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}

.contacts {
  display: flex;

  margin-left: auto;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__mail,
.contacts__tel {
  display: flex;
  align-items: center;

  padding: 32px 0px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus,
.contacts__mail:hover,
.contacts__mail:focus,
.contacts__tel:hover,
.contacts__tel:focus {
  color: var(--accent-color);
}

.contacts__icon {
  fill: currentColor;

  margin-right: 10px;
}

/* Main content Studio */

/* Hero */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0px;

  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);

  background-color: #c4c4c4;
}

.hero__title {
  width: 696px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--another-accent-color);
}

.hero__button {
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  align-items: center;
  text-align: center;
  cursor: pointer;

  color: var(--another-accent-color);
  background-color: var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--btn-hover-color);
}

/* Features */

.features__title,
.task__title,
.team__title,
.team__member,
.clients__title {
  color: var(--secondary-text-color);
}

.features {
  display: flex;
  justify-content: space-between;
}

.features__item {
  width: 270px;
}

.features__item + .features__item {
  margin-left: 30px;
}

.features__thumb {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--icon-background-color);
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}

/* Tasks */

.task {
  padding-top: 0px;
}

.task__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
}

.task__list {
  display: flex;
}

.task__item {
  width: 370px;
}

.task__item:not(:last-child) {
  margin-right: 30px;
}

.task__link {
  position: relative;
}

.task__details {
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--another-accent-color);
  background-color: var(--task-background);
}

/* Our team */

.team {
  background-color: var(--secondary-background-color);
}

.team__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
}

.team__list {
  display: flex;
}

.team__item {
  width: 270px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--another-accent-color);
}

.team__item + .team__item {
  margin-left: 30px;
}

.team__thumb {
  padding: 30px 0px;
}

.team__member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

.team__job {
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

.social {
  display: flex;
  justify-content: center;

  margin-top: 16px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--icon-social);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  color: var(--another-accent-color);
  background-color: var(--accent-color);
}

.social__icon {
  fill: currentColor;
}

/* Customers */

.clients__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.clients__list {
  display: flex;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  border: 1px solid;
  border-radius: 4px;
  color: var(--icon-social);
  border-color: var(--icon-social);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--modal-backdrop);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: var(--another-accent-color);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);

  cursor: pointer;
  background-color: var(--another-accent-color);
  color: var(--logo-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  color: var(--accent-color);
}

.modal__icon {
  fill: currentColor;
}

.modal__title {
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--secondary-text-color);
}

.form__user {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.form__user--comment {
  margin-bottom: 20px;
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  fill: var(--logo-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__lbl {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  margin-bottom: 4px;
}

.form__inp {
  height: 40px;
  padding: 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__inp:focus-within,
.form__inp:hover {
  border: 1px solid var(--accent-color);
}

.form__inp:focus-visible {
  outline: none;
}

.form__inp:focus-within + .form__icon,
.form__inp:hover + .form__icon {
  fill: var(--accent-color);
}

.form__inp--comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-inp--comment:focus {
  border: 1px solid var(--accent-color);
}

.form__policy-lbl {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__policy-inp {
  appearance: none;
}

.form__policy-icon {
  margin-right: 8px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  fill: var(--another-accent-color);
  background-color: var(--another-accent-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__policy-inp:checked + .form__policy-icon {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.form__policy-txt {
  margin-right: 5px;
}

.form__policy-link {
  color: var(--accent-color);
}

.form__submit-btn {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);

  padding: 0px;
  border: none;
  width: 200px;
  height: 50px;
  margin-top: 30px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--another-accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover {
  background-color: var(--btn-hover-color);
}

/* Main content Portfolio */

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__btn {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__btn:hover,
.filters__btn:focus {
  color: var(--another-accent-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list__item {
  width: calc((100% - 60px) / 3);

  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.example {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example:hover,
.example:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example__thumb {
  position: relative;
  overflow: hidden;
}

.example__text--is-hidden {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;
  padding: 0px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  color: var(--another-accent-color);
  background-color: var(--portfolio-background);

  transform: translateY(100%);
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example:hover .example__text,
.example:focus .example__text {
  transform: translateY(0%);
}

.example__title {
  padding: 24px 20px;
  border: 1px solid var(--portfolio-border-color);
  border-top: none;
}

.example__name {
  margin-bottom: 4px;
  width: 322px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example__filter {
  width: 322px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* Footer */

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.logo.link {
  display: inline-block;
}

.logo__endtext--footer {
  color: var(--another-accent-color);
}

.address {
  width: 231px;
  font-style: normal;
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__map {
  color: var(--another-accent-color);
  line-height: 1.71;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__mail,
.address__tel {
  color: var(--contacts-footer-color);
  line-height: 1.71;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__map:hover,
.address__map:focus,
.address__mail:hover,
.address__mail:focus,
.address__tel:focus,
.address__tel:hover {
  color: var(--accent-color);
}

.footer-social-div {
  margin-left: 70px;
}

.footer-social-div__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--another-accent-color);
}

.footer-social {
  display: flex;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  color: var(--another-accent-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover,
.footer-social__link:focus {
  color: var(--another-accent-color);
  background-color: var(--accent-color);
}

.footer-social__icon {
  fill: currentColor;
}

/* Footer form */

.footer-form {
  margin-left: auto;
}

.footer-form__title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--another-accent-color);
}

.form-footer {
  display: flex;
}

.form-footer__inp {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  margin-right: 12px;

  border: 1px solid var(--footer-input-border);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--another-accent-color);
}

.form-footer__inp:focus-visible {
  outline: none;
}

.form-footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border: none;
  width: 200px;
  height: 50px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer__btn:hover {
  background-color: var(--btn-hover-color);
}

.form-footer__text {
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--another-accent-color);
}
